.container {
    margin-top: 10px;
}

.title-centered {
    text-align: center;
}

tr th:first-child {
    width: 40px;
}

table {
    table-layout: fixed;
}

td {
    padding-right: 24px !important;
}

button {
    z-index: 9999;
}

tbody tr:hover {
    background-color: rgba(63, 81, 181, 0.08);
    cursor: pointer;
}